@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #0B124E;
}
.wrapper{
    position: relative;
}

.header {
    padding: 20px 0px;
}
.header .header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1000;
}
.header .header-flex .right-content{
    padding-right: 40px;
}

.btn-header{
    border-radius: 50px;
    background: linear-gradient(359deg, #1A1B6E 22.07%, #3C53D7 75.13%, #65A3FB 101.66%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 0px;
    padding: 12px 22px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 12px;
}
.btn-header:hover{
    color: #FF7D05;
}
.ca{
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
}



.hero-section .tag{
    color: #FF7D05;
    font-size: 36px;
    font-weight: 600;
    line-height: 153%;
    margin-bottom: 24px;
}
.hero-section .heading{
    color: #FFF;
    display: inline-block;
    font-size: 64px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}
.hero-section .heading1{
    border-bottom: 4px solid#FF7D05;
    margin-bottom: 10px;
    line-height: 1;
}
.hero-section .text{
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 40px;
}
.join-us .title{
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
    margin-bottom: 6px;
}
.join-us .anchers a{
    text-decoration: none;
}
.join-us .anchers a:hover svg path{
    fill: #FF7D05;
}
/* .join-us .anchers a.link-x:hover svg path:last-child{
    stroke: #FFF;
} */
.hero-section .img{
    margin-top: -130px;
}



.dex-section{
    padding-top: 70px;
    text-align: center;
}
.dex-section .heading{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 40px;
    font-weight: 600;
    line-height: 1;
    text-decoration-line: underline;
    background: linear-gradient(180deg, #FFF 0%, #FF7D05 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom: 2px solid #FF7D05;
    display: inline-block;
}


@media screen and (max-width: 767px) {
    .header-flex .left-content{
        width: 100%;
        position: relative;
        text-align: center;
    }
    .header-flex .left-content::before{
        content: " ";
        position: absolute;
        width: 100%;
        height: calc(100% - 30px);
        top: 15px;
        left: 0px;
        background: #FFF;
        z-index: -1;
    }
    .hero-section {
        text-align: center;
    }
    .hero-section .tag{
        font-size: 32px;
    }
    .hero-section .tag{
        font-size: 32px;
    }
    .hero-section .heading{
        font-size: 36px;
    }
    .hero-section .text{
        font-size: 13px;
    }
    .hero-section .img{
        margin-top: -40px;
    }
}